<div id="dashboard">
  <div class="row">
    <div class="col-md-12">
      <h1><i class="fa fa-tachometer"></i> Dashboard</h1>
    </div>
  </div>

  <div class="row dash">
    <div class="col-md-12 velocibox">
    </div>
  </div>
</div>
