<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      ['Work',     11],
      ['Eat',     3],
      ['Watch TV', 3],
      ['Sleep',    7]
    ]);

    var options = {
      legend: { position: "bottom" },
      backgroundColor: "#f9f9f9",
      slices: {
        0: { color: '#E67E22' },
        1: { color: '#3498DB' },
        2: { color: '#F1C40F' },
        3: { color: '#2ECC71' }
      }
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);
  }
</script>

<div id="dashboard">
  <div class="row">
    <div class="col-md-12">
      <h1><i class="fa fa-tachometer"></i> Dashboard</h1>
    </div>
  </div>

  <div class="row dash">
    <div class="col-md-12 velocibox center">
      <!--<div id="piechart"></div>-->
    </div>
  </div>
</div>
