<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      ['Work',     11],
      ['Eat',     3],
      ['Watch TV', 3],
      ['Sleep',    7]
    ]);

    var options = {
      legend: { position: "bottom" },
      backgroundColor: "#ffffff",
      slices: {
        0: { color: '#E67E22' },
        1: { color: '#3498DB' },
        2: { color: '#F1C40F' },
        3: { color: '#2ECC71' }
      }
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);
  }
</script>

<div id="dashboard">
  <div class="row dash">
    <div class="col-md-8">
      <%#<div id="piechart"></div>%>
    </div>

    <div class="col-md-4 right-col">
      <div class="login-form">
        <%#<h5>Collabofeed &trade;</h5>%>

        <div class="form-group">
          <textarea class="form-control" placeholder="What's on your mind?"></textarea>
        </div>

        <a class="btn btn-primary btn-block" href="#">Post</a>
      </div>

      <div id="collabofeed">
      </div>
    </div>
  </div>
</div>
