<div class="jumbotron">
  <div class="container">
    <%= image_tag("Map.png") %>

    <h1>SEO Software<br /><em>for</em> Awesome People</h1>
    <p>Bacon ipsum dolor sit amet cow pancetta biltong, ham strip steak t-bone shankle sausage. Frankfurter t-bone tenderloin drumstick.</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
  </div>
</div>
