<div class="row home">
  <div class="col-md-4">
    <h3>Proven ROI</h3>
    <%= image_tag("Clipboard.png") %>
    <p>Flank venison meatloaf pig, short ribs turkey pork belly. Shank salami hamburger, sirloin fatback ham brisket andouille landjaeger jowl bacon chuck.</p>
    <p><a class="btn btn-info" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h3>Aggregated Data</h3>
    <%= image_tag("Watches.png") %>
    <p>Shankle sirloin jowl turkey, leberkas landjaeger chicken tenderloin bresaola pork loin beef ground round brisket sausage pig.</p>
    <p><a class="btn btn-info" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h3>Social Analysis</h3>
    <%= image_tag("Chat.png") %>
    <p>Sirloin rump ham hock pastrami spare ribs tongue bresaola ham bacon. Tail t-bone sausage, swine tri-tip tongue drumstick short loin beef pork chop.</p>
    <p><a class="btn btn-info" href="#" role="button">View details &raquo;</a></p>
  </div>
</div>

<%#<div class="row screen">%>
  <%#<div class="col-md-12 center">%>
    <%#<h2>Some Text</h2>%>
    <%#[>= image_tag("screen_large.png") <]%>
  <%#</div>%>
<%#</div>%>
