#social-feed {
  .velocibox {
    border:1px solid #e6e6e6;
    font-size:14px;
    color:#666;

    p {
      color:#888;
      margin:8px 0 0;
    }

    i.fa {
      font-size:19px;
      padding-right:4px;
      color:#F39C12;
    }

    img {
      float:left;
      margin-right:10px;
      max-width:25px;
      max-height:25px;
      border:1px solid #aaa;
    }
  }

  .social-header {
    .velocibox {
      padding: 40px;
      margin-bottom:20px;

      img {
        max-width:120px;
        max-height:120px;
        border:none;
        position:absolute;
      }

      img.left {
        left:90px;
        top:70px;
      }

      img.right {
        right:90px;
        top:70px;
      }
    }

    .btn {
      padding:5px 10px;
      margin:0 0 0 7px;

      i.fa {
        font-size:16px;
        padding:0;
        color:#fff;
        opacity:0.5;
      }
    }
  }

  h4 {
    line-height:40px;
    margin-top:0;

    strong {
      color:#555;
    }
  }

  .social-refresh {
    display:inline-block;
    padding:15px 25px;
    border-radius:4px;
    background:#fff;
    color:#aaa;
    font-size:17px;
    border:1px solid #eee;
  }

  h6 {
    text-align:center;

    i {
      color:#1abc9c;
    }
  }
}

@media (max-width: 1200px) {
  .social-header {
    .velocibox {
      img {
        display:none;
      }
    }
  }
}
