.social-feed {
  .velocibox {
    border:1px solid #eee;
    font-size:14px;
    color:#666;

    p {
      color:#888;
      margin:8px 0 0;
    }

    i.fa {
      font-size:19px;
      padding-right:4px;
      color:#F39C12;
    }
  }

  h6 {
    text-align:center;

    i {
      color:#1abc9c;
    }
  }
}
