#social-feed {
  .velocibox {
    border:1px solid #e6e6e6;
    font-size:14px;
    color:#666;

    p {
      color:#888;
      margin:8px 0 0;
    }

    i.fa {
      font-size:19px;
      padding-right:4px;
      color:#F39C12;
    }

    img {
      float:left;
      margin-right:10px;
      width:25px;
      border:1px solid #aaa;
    }
  }

  .social-header {
    .velocibox {
      padding: 60px;
      margin-bottom:20px;
    }
  }

  h4 {
    line-height:40px;

    strong {
      color:#555;
    }

    small {
      color:#ccc;
    }
  }

  h6 {
    text-align:center;

    i {
      color:#1abc9c;
    }
  }
}
