<div class="row">
  <div class="col-md-12">
    <h4>Recent Social Aggregation</h4>
    <p>This is a a feed of social activity based on your keywords <strong>"<%= @campaign.social_keywords %>"</strong>. The feed is updated every 3 hours.</p>
  </div>
</div>

<div class="row social-feed">
  <div class="col-md-12">
    <% @posts.each do |post| %>

      <div class="velocibox">
        <% if post.source == "Twitter" %>
          <i class="fa fa-twitter"></i>
        <% else %>
          <i class="fa fa-google-plus-square"></i>
        <% end %>

        by <%= post.user %> on <%= post.date %>
        <p><%= post.content.html_safe %></p>
      </div>
    <% end %>
  </div>
</div>
