<div class="row">
  <div class="col-md-12">
    <h4>Recent Social Aggregation</h4>
    <p>This is a a feed of social activity based on your keywords <strong>"<%= @campaign.social_keywords %>"</strong>. The feed is updated every 3 hours.</p>
  </div>
</div>

<div class="row social-feed">
  <div class="col-md-12">
    <% @posts.each do |post| %>
      <div class="velocibox">
        <strong><%= post[:source] %>:</strong>
        <%= post[:content].html_safe %>
      </div>
    <% end %>
  </div>
</div>
