<hr>

<footer>
  <p>
    <%= link_to(@agency.name, agency_path(@agency)) if @agency %> /
    <%= link_to(@campaign.name, agency_campaign_path(@campaign.agency, @campaign)) if @campaign %>
  </p>

  <%#= render_breadcrumbs %>

  <p>&copy; Velociraptor 2013</p>
</footer>
